* {
    margin: 0;
    padding: 0; 
}
header, main, footer, nav, aside, section, div  {

    display: block;

}
a{
    text-decoration: none;
}
#wrapper
{
    position: relative;
    display: flex; 
}

header
{

position:relative;
width: 1300px;
height: 176px;
display: flex   ;
align-items:flex-end;
background: #F0F0F0;
}

aside
{
    position: relative;
    display: flex;
    direction: rtl;
    font-size: large;
    width: 250px;
    height: 848px;

    background: #F0F0F0;
}
main
{
    position: relative;
    display: flex;
    background-color:rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    width: 1050px;
    height: 848px;
}

.card{
    margin-top: 80px;
}
.card-body{
    direction: rtl;
    margin-right: 20px;
}

#icons{
    display: flex;
    flex-direction: row;
}
.icon{
    margin-right: 13px;
}

.nav-link   
{
  color: black;
}
.form-control {
display:inline ;
direction: rtl;
width: auto;
}
.nav-item{
    margin-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:x-large;
}
.nav-item:hover{
    background-color:grey;
}
body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar
{
    width: 1300px;
    display: flex;
    position:absolute;
    align-items: center;
}
#logo
{
    position: absolute;

    margin-bottom: 140px;
}
.profilePic
{
    position: absolute;
  margin-left: 90%;
  margin-bottom: 170px;
  height: 100px;
  border-top-right-radius: 100px;
border-bottom-left-radius: 100px;
border-top-left-radius: 100px;
border-bottom-right-radius: 100px;
    
}
#profileName
{
    position: absolute;
    margin-left: 80%;
    margin-bottom: 100px;
}
#but{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.butt{
    margin-left: 50px;
}

